/* override table width restrictions as found on https://github.com/getpelican/pelican/issues/1311 */
.wy-table-responsive table td, .wy-table-responsive table th {
    /* !important prevents the common CSS stylesheets from
       overriding this as on RTD they are loaded after this stylesheet */
    white-space: normal !important;
}

.wy-table-responsive {
    overflow: visible !important;
}

/* .rst-content dl p, .rst-content dl table, .rst-content dl ul, .rst-content dl ol { */

.rst-content dl p {
    margin-bottom: 2px !important;
}

.rst-content .rubric {
    margin-top: 20px !important;
    margin-bottom: 5px !important;
}
